{% extends "layout.html" %}
{% block title %}Главная{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block app_content %}
  <h1>"Корпус" ительменского языка</h1>
  <p class="important">Добро пожаловать на главную страницу корпуса.</p>
  <p>Вы можете выполнить поиск по корпусу:
    <a href="{{ url_for('search.search') }}">поиск</a></p>
  <p>Или можете добавить свой собственный текст:
    <a href="{{ url_for('upload.upload') }}">добавление текста</a></p>
{% endblock %}