{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Загрузить тексты{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
  <style type="text/css">
    .important { color: #336699; }
    .code { width: 80%; }
  </style>
{% endblock %}


{% block app_content %}
  <h1>Загрузка текстов</h1>
  <p class="important">Здесь вы можете загрузить размеченные тексты. Они будут добавлены в базу данных. Ниже приведён образец файла.</p>

  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div>

<!--  <form method="POST" enctype="multipart/form-data">-->
<!--    {{ form.hidden_tag() }}-->
<!--    {{ form.text.label() }}-->
<!--    {{ form.text }}-->
<!--    <p>{{ form.submit }}</p>-->
<!--  </form>-->
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>Внизу представлен короткий образец .xml файла. Это результат экспорта из Fieldworks
        при выборе формата "Verifiable generic XML"
        Пока информацию можно извлечь только из файлов с такой структурой.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="code">
      <pre>
        <code class="xml">
            {{ example_xml }}
        </code>
      </pre>
      </div>
    </div>
  </div>

  {% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
  {% endblock %}
{% endblock %}