<!--text is a dict-->
<div class="text-results">
                <p><h3>{{loop.index}}. {{ text['title']|e }} <small class="text-muted">{{ text['author']|e }}</small></h3></p>
                {% for phrase_id, phrases in text['phrases']|dictsort %}
                  <!-- phrase_text is also a dict-->
                    {% for phrase_text in phrases %}
                      <div class="sentence-result">
                      <div class="glosses">
                      {% for word in phrase_text['words'] %}
                        <!-- Single list is a "column" -->
                        <ul class="tableSentence">
                          <li>{{ word['word']|e }}</li>
                          <li>{{ word['dash']|e }}</li>
                          <li>{{ word['gloss']|e }}</li>
                          <li>{{ word['rus_lexeme']|e }}</li>
                        </ul>
                      {% endfor %}
                      </div>
                        <ul class="translation" >
                          <li><i>{{ phrase_text['transl']|e }}</i></li> </ul>
                      </div>
                    {% endfor %}
                    <br>
                {% endfor %}
              </div>