{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{ super() }}
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>
{% endblock %}

{% block title %}Поиск по корпусу{% endblock %}

{% block app_content %}
  <h1>Поиск по корпусу</h1>
  <noscript>К сожалению, в вашем браузере отключен JavaScript.
      Он необходим для правильной работы поиска</noscript>

  <div class="row">
      <div class="col-md-4">
          <p class="corpus-count">Всего в корпусе <b>{{total_words}}</b> слов в <b>{{total_docs}}</b> документах</p>
          <p><small>*одно вхождение это словоформа с указанными параметрами</small></p>

<!--  <div id="form">-->
  <form action="" method="post" role="form" id="bigForm" novalidate>
    {{ form.hidden_tag() }}
    <ul id="tokens_list">
      {% for token in form.tokens_list %}
        <li>
            {{ token.hidden_tag() }}
            <h3>Словоформа {{ loop.index }}</h3>
            <table id="tokens_list-{{loop.index-1}}">
                <tr>
                  <th>{{ token.word_form.label }}</th>
                  <th>{{ token.word_form(size=40) }}</th>
                </tr>
                <tr>
                  <th>{{ token.gloss.label }}</th>
                  <th>{{ token.gloss(size=40) }}</th>
                </tr>
                <tr>
                  <th>{{ token.rus_lexeme.label }}</th>
                  <th>{{ token.rus_lexeme(size=40) }}</th>
                </tr>
                <tr>
                  <th>{{ token.itl_lexeme.label }}</th>
                  <th>{{ token.itl_lexeme(size=40) }}</th>
                </tr>
            </table>
        </li>
      {% endfor %}
        {# {{ form.tokens_list }} #}
    </ul>
    <input type=button onClick="get_table_change_num()" value="добавить словоформу">
    {{ form.submit }}
  </form>
<!--  </div>-->

  </div>
  </div>
  <br>

{% endblock %}
