<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <title>{% block title %}{% endblock %} - FieldworkCrowdsource</title>
    {% endblock %}
</head>
<body>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    <div id="content">
        {% block content %}
        {% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>