{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %} {{ title }} - ItelCorpus{% else %}Welcome to ItelCrowdSourceCorpus{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">ItelCorpus</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li><a href="{{ url_for('search.search') }}">Поиск</a></li>
                    <li><a href="{{ url_for('upload.upload') }}">Добавить текст</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                  <div class="alert alert-info" role="alert">
                {% else %}
                  <div class="alert alert-{{ category }}" role="alert">
                {% endif %}
                      {{ message }}
                   </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>


    {% block footer %}
<!--        <div class="navbar-fixed-bottom row-fluid">-->
<!--            <div class="navbar-inner">-->
<!--                 <div class="container">-->
<!--                     <div class="col-md-3">-->
<!--                         -->
<!--                     </div>-->
<!--                 </div>-->
<!--            </div>-->
<!--        </div>    -->
    {% endblock %}

{% endblock %}
